*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: sans-serif;
    font-size: 15px;
}

/* inizio header */



.row_header{
    width: 100%;
    background-color: aliceblue;
    display: flex;
    padding: 20px;
    
}

.col_header1{
    width: calc(100% / 2);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    
}
.col_header2{
    width: calc(100% / 2);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    
}


a:not(.link, .blue, .link_footer, .freccia) {
    text-decoration: none;
    color: black;
}


.blue{       /* creo padding blu attorno ad inizia */
    background-color: #0251FF;
    padding: 5px 12px;
    color: white;
    text-decoration: none;

}              

/* fine header */


/* inizio main: sezione1: title*/

.container_title{
    background-color: #B4D0E7;
    position: relative;
}

.row_title{
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}

h1{
    font-size: 60px;
    padding-top: 50px;
}


.col_title{   /* tutte le colonne*/
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.col1_title{
    width: 30%;
    margin-top: 40px;
}

.col2_title{
    width: 20%;
    text-align: center;
}

.col2_title2{
    width: 25%;
}


.col3_title{
    width: 7%;
    font-size: 50px;
    margin-top: 40px;
}


#jumbo{           /* immagine jumbo */
    width: 50%;
    position: absolute;
    top: 231px;
    left: 580px;

}          

/* inizio main: sezione 2: le offerte */

.jumbotron{
    max-width: 900px;
    margin: auto;
    margin-top: 150px;
    
}

h2{
    font-size: 30px;
}

#radio2{   /* bottoni radio*/
    margin-left: 30px;
}
.radio{
    margin-top: 50px;
    margin-bottom: 30px;
}

.row_offerte{
    display: flex;
    gap: 30px;
}

.col_offerte{
    width: calc(100% / 3);
    border: 1px solid black;
    
}

/* inizio colonne offerte */

.col_logo{
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 7px;
    padding: 8px;

}


.prezzo{
    font-weight: 600;
    padding-top: 20px;
}
.periodo{
    color: rgb(95, 93, 93);
    padding-top: 10px;
    margin-bottom: 40px;
}

h3:not(.business_title){
    font-size: 20px;
    padding-top: 30px;
}
.proposta{
    padding: 0 25px;
}





/* lista dei vantaggi */

.primalista li{
    list-style: none;
}
.vantaggi{
    padding: 0 17px;

}

.sx{
    justify-content: flex-start;
    margin-top: 10px;
    
}


/* bottone blu */

.style_blu{
    margin-top: 60px;
    justify-content: center;
    color: white;
}

/* link acquisto */

.link{
    color: blue;
    
}

.hr{
    width: 30%;
    padding-left: 7px;
    margin-bottom: 60px;
    
}

.secondalista li{
    list-style: none;
}

.check{
    color:#0251FF;
    font-weight: 800;
    font-size: 20px;

}

.list2_content{
    padding-top: 10px;
    padding-left: 10px;
}

.flex{
    display: flex;
}

.li_button{
    margin-bottom: 50px;
}

/* inizio tabella orizzontale row_team */

.row_team{
    display: flex;
    justify-content: center;
}

.contenitore_tabella_orizzontale{
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 200px;
}

.row_enterprise{
    display: flex;
    align-items: baseline;
    gap: 30px;
    

}

.col_enterprise{
    width: calc(100% / 3);
    padding: 0 25px;
    


}

.text{
    display: flex;
    justify-content: center;
}
.contact{
    padding: 12px 35px;
}

.col_contatti{
    padding: 0 25px;
    margin-top: 10px;
}

.contatti2{
    width: calc(72%);
    margin-top: 50px;
    margin-bottom: 20px;
}

/* sezione 4 : partner */

.col_60{
    width: 60%

}
.col_40{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: flex-start;
}

#partner{
    width: 90%;
}

.row_partner{
    display: flex;
    margin-bottom: 200px;


}

.border{
    border: 1px solid black;
    padding: 3px 10px;
    
}


/* iniizo parte business */

.row_business{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 100px;
    
}

.col_business{
    width: calc(100% / 3 - 60px);
}

.img_business{
    width: 100%;

}
.business_content{
    margin-top: 15px;
}


/* inizio parte dati */

.row_dati{
    width: 60%;
}

.col_dati{
    margin-top: 40px;
    margin-bottom: 60px;
}

/* sezione 7 : box colorati */


.container_boxes{
    width: 100%;
}
.row_boxes{
    display: flex;
}
.col_boxes{
    width: calc(100% / 3 );
}

.row_interna{
    display: flex;
    flex-wrap: wrap;
}

.col_interna{
    width: calc(100% / 2);
    height: 250px;
    position: relative;

}

.squares{
    width: 100%;
    padding: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(100%);
    
}

.box1_1{
    background-color: #A2D39B;
    border: 10px solid #D1E9CD;
}


.box1_2{
    background-color: #61082B;
}
.box1_3{
    background-color: #0093CE;
}
.box1_4{
    background-color: #FF1C1C;
}
/* second box */

.container_middle_box{
    width: 100%;
    padding: 30px 30px;
}

.big_img{
    width: 50%;
}

.hr_big_img{
    width: 25%;
    margin-top: 30px;
    color: rgba(0, 0, 0, 0.094);
}

.box_text{
    margin-top: 30px;
}

.foot_text{
    margin-top: 30px;
}

.box2{
    background-color: #F5F5F5;
}
/* terzo box  */


.box3_1{
    background-color: #D5001F;
}
.box3_2{
    background-color: #B4D0E7;
}
.box3_3{
    background-color: #0D2481;
}
.box3_4{
    background-color: #FFD830;
}

/* sezione 8 */

.row_sezione8{
    display: flex;
    align-items: baseline;
    padding-top: 50px;
    padding-bottom: 50px;
}
.col_sezione8{
    width: calc(100% / 2);
    display: flex;
    justify-content: flex-end;
}

.sez8_1{
    width: 50%;

}

.sez8_2{
    padding-right: 400px;
    
}

.white{
    background-color: white;
}


/* sezione9 : faq */

.jumbotron2{
    max-width: 900px;
    margin: auto;
    margin-top: 50px;
}
.jumbo2{
    margin: 30px 0;
}

.row_faq{
    display: flex;
    gap: 250px;
    align-items: baseline;
}

.freccia{
    font-weight: 800;
}


/* footer */

footer{

    background-color: black;
    margin-top: 100px;
}

.container_footer{
    max-width: 1100px;
    margin: auto;
    color: white;
}

.row_footer{
    display: flex;
    gap: 10px;

}

.col_footer{
    width: calc(100% / 5);
    margin-top: 50px;
    
}

h6{
    font-weight: 800;
    font-size: 18px;
    margin-bottom: 20px;
}

.link_footer{
    color: white;
    text-decoration: none;
}

.col_text_footer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hr_footer{
    width: 50%;
    margin-top: 70px;
}

.italiano{
    margin-top: 30px;
    display: flex;
    gap: 5px;
    align-items: baseline;
}

.freccia{
    color: white;
    padding-bottom: 50px;
    text-decoration: none;
}